name: Go CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4

    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: '1.22' # Use a specific Go version

    - name: Cache Go modules
      uses: actions/cache@v4
      with:
        path: ~/go/pkg/mod
        key: ${{ runner.os }}-go-${{ hashFiles('**/go.sum') }}
        restore-keys: |
          ${{ runner.os }}-go-

    - name: Download Go modules
      run: go mod tidy

    - name: Install golangci-lint
      run: curl -sSfL https://raw.githubusercontent.com/golangci/golangci-lint/master/install.sh | sh -s -- -b $(go env GOPATH)/bin v1.59.1 # Use specific version

    - name: Run Quality Gates
      run: |
        echo "Running go fmt..."
        go fmt ./...
        git diff --exit-code || (echo "go fmt failed: Please format your code" && exit 1)

        echo "Running go vet..."
        go vet ./...

        echo "Running golangci-lint..."
        golangci-lint run ./...

        echo "Running go test..."
        go test -v -race -coverprofile=coverage.out -covermode=atomic ./...

        echo "Building executable..."
        go build -o bin/nuimanbot ./cmd/nuimanbot
